.App {
  font-family: Bodoni;
}

.items{
 width: 38%;
 margin: 0% 5% 0% 5%;

}
.itemsContainer{
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
}

.items >div{
  box-shadow: 5px 5px 10px 2px #888888;
  margin: 1% 0% 2% 0%;
  text-align: center;
}

.items >div>img{
  margin: 0% 20% 0% 20%;
  height:300px;
  width:300px;
}

.productContainer{
  display: flex;
  margin: .1% 30% .3% 30%;
  justify-content: space-between;
}

.productContainer>button{
   border-radius:40%;
   box-shadow: 6px 5px 24px #666666;
   font-size: 1.5em;
}

.productContainer>button:hover{
  background-image: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 49%,rgba(219,219,219,1) 50%,rgba(226,226,226,1) 100%);
}

button[type='submit']{
  background-color: blue;
  color: white;
  padding: 15px 15px;

  background-image: linear-gradient(blue,lightblue);
}

button:hover{
  transform: translateY(-1px);
  cursor: pointer;
}

label{
  color: black;
}

.card{
  border: 3px solid green;
  margin-bottom: 2%;
  font-family: impact;
}

.checkout>h5{
  padding: .1em;

}

input[type='text'],
.cardElements {
      min-width:300px;;
      max-width: 300px;
      font-size: 1em;
      border:0;
      outline:0;
      line-height: 1em;
      box-shadow: inset 0px 0px 19px 0px rgba(46,74,117,1);
    }
h1{
  font-size: 2.5em;
}
h4{
  font-size: 1.6em;
}

h5{
  font-size: 1.2em;
}

span{
  font-size: 1.2em;
  font-family: Bodoni;
}

nav{
  display:flex;
  justify-content: space-around;
  /* background: silver; */
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);

}

nav >a{
  font-size: 3em;
  color:white;
  text-shadow: 2px 2px 4px #000000;
}

nav>a:hover{
  color:black;
  pointer-events: auto;
}

.checkout{
  border: 2px solid purple;
}

.cashin{
  display: block;
  position: absolute;
  top:0;
  right: 0;
  width: 0px;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
  animation: slidein 2s forwards;

}

.cashout{
  display: none;
}

.aboutus{
  position: relative;
  height:100vh;
  width:100vw;
  overflow: hidden;
}

.cover{
  z-index: 1;
  position: absolute;
  top: 37%;
  left: 45%;
  font-size: 4em;
  color:white;
  font-family: Bodoni;
  text-shadow: 4px 4px 8px black;

}



@keyframes slidein {
  0%   {

   }

  100% {

    width: 350px;

   }
}
