.App {
  /* text-align: center; */
}

.items{
  border: 1px solid black;
  display: flex;
}

.items >img{
  border: 1px solid green;
}

.items >div{
  border: 1px solid yellow;

}

.checkout{
  border: 2px solid red;
  /* display: flex; */
  /* flex:1; */
}

.card{
  border:1px solid black;
}

button[type='submit']{
  background-color: blue;
  color: white;

}

button:hover{
  transform: translateY(-1px);
  cursor: pointer;
}

label{
  color: black;
}

input[type='text'],
.cardElements {

      min-width:300px;;
      max-width: 300px;
      font-size: 1em;
      border:0;
      outline:0;
      line-height: 1em;

      box-shadow: inset 0px 0px 19px 0px rgba(46,74,117,1);


    }

img{
  height: 200px;
  width: 200px;
}

nav{
  border:1px solid red;
  display:flex;
  justify-content: space-around;
  background: silver;
}

nav >a{
  /* border: 1px solid blue; */
  font-size: 2em;
  /* background: black; */
  color:white;
}

nav>a:hover{
  color:red;
  pointer-events: auto;
}
