.App {
  /* text-align: center; */
}

.items{
  border: 1px solid black;
  display: flex;
}

.items >img{
  border: 1px solid green;
}

.items >div{
  border: 1px solid yellow;

}

.checkout{
  border: 2px solid red;
  /* display: flex; */
  /* flex:1; */
}

.card{
  border:1px solid black;
}

button[type='submit']{
  background-color: blue;
  color: white;

}

button:hover{
  transform: translateY(-1px);
  cursor: pointer;
}

label{
  color: black;
}

input[type='text'],
.cardElements {

      min-width:300px;;
      max-width: 300px;
      font-size: 1em;
      border:0;
      outline:0;
      line-height: 1em;

      box-shadow: inset 0px 0px 19px 0px rgba(46,74,117,1);


    }

/* img{
  height: 200px;
  width: 200px;
} */

nav{
  /* border:1px solid red; */
  display:flex;
  justify-content: space-around;
  background: black;
}

nav >a{
  /* border: 1px solid blue; */
  font-size: 2em;
  /* background: black; */
  color:white;
    text-shadow: 4px 4px 8px black;
}

nav>a:hover{
  color:red;
  pointer-events: auto;
}

.checkout{
  border: 2px solid purple;
}

.example{

  /* overflow: hidden; */
  position: absolute;
  top:0;
  right: 0;
  width: 0px;
  height: 100vh;
  background: teal;
  animation: slidein 2s forwards;

}

.aboutus{
  position: relative;
  height:100vh;
  width:100vw;
  overflow: hidden;
}

.aboutus>img{

}


.cover{
  z-index: 1;
  position: absolute;
  top: 37%;
  left: 45%;
  font-size: 4em;
  color:white;
  font-family: Bodoni;
  text-shadow: 4px 4px 8px black;

}



@keyframes slidein {
  0%   {

   }

  100% {

    width: 350px;

   }
}
